* {
    margin: 0;
    padding: 0;
}
body,
html {
  background: #fafafa;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0, 0, 0, .8);
  font-size: 18px;
  line-height: 1.4;
}

* + * {
  margin-top: .8em;
}

h2 {
    font-size: 1.2em;
}

a:link, a:active, a:visited {
    color: #df3a4a;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid #df3a4a;
}

.wrapper {
    margin: 0 auto;
    max-width: 450px;
}
.card {
    padding: 30px;
    margin: 100px 15px 15px 15px;
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 3px;
}
.card__visual {
    max-width: 300px;
    margin-top: 0;
}

.table {
    width: 100%;
}

.table > * {
    margin: 0;
}

.table__key {
    text-align: right;
  color: rgba(0, 0, 0, .44);
  width: 50%;
  padding-right: 10px;
  font-size: .8em;
}

.table__value {
  text-align: left;
  width: 50%;
}

.button {
    font-size: .8em;
    color: #df3a4a;
    border: 1px solid rgba(223, 58, 74, 0.6);
    border-radius: 30px;
    display: inline-block;
    line-height: 32px;
    padding: 0 15px;
}
.button:hover {
    border: 1px solid rgba(223, 58, 74, 1);
}

@media only screen and (max-device-width: 480px) {
    .card { margin: 5px; }
    .hm { display: none }
}
