/* Base */
html {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'sans-serif';
    font-family: var(--font-family-base, 'sans-serif');
    min-width: 280px;
    overflow-x: hidden;

    touch-action: manipulation;
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: var(--min-width);
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-gray-800);
    background-color: var(--color-black);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (--screen-overlay-nav) {
.nav-open body {
            overflow-y: hidden;
            max-height: 100vh
    }
        }
.nojs {
    display: block;
    width: min(100%, 56rem);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.nojs__checkbox {
    display: none;
}
.nojs__container {
    padding: 1rem;
}
.nojs__checkbox:checked + .nojs__container {
    display: none;
}
.nojs__close {
    cursor: pointer;
    color: var(--color-green-400);
}
.nojs__close:hover,
.nojs__close.focus-visible {
    color: var(--color-green-500);
}
.nojs__close:hover,
.nojs__close:focus-visible {
    color: var(--color-green-500);
}
.nojs__close:active {
    color: var(--color-green-600);
}
@font-face {
    font-family: 'Glober';
    font-weight: 300;
    src: url('../fonts/Glober_Light/fontfabric_-_globerlight-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Light/fontfabric_-_globerlight-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Light/fontfabric_-_globerlight-webfont.woff') format('woff'),
         url('../fonts/Glober_Light/fontfabric_-_globerlight-webfont.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Glober';
    font-weight: 400;
    src: url('../fonts/Glober_Regular/fontfabric_-_globerregular-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Regular/fontfabric_-_globerregular-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Regular/fontfabric_-_globerregular-webfont.woff') format('woff'),
         url('../fonts/Glober_Regular/fontfabric_-_globerregular-webfont.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Glober';
    font-weight: 500;
    src: url('../fonts/Glober_Semibold/fontfabric_-_globersemibold-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Semibold/fontfabric_-_globersemibold-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Semibold/fontfabric_-_globersemibold-webfont.woff') format('woff'),
         url('../fonts/Glober_Semibold/fontfabric_-_globersemibold-webfont.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Glober';
    font-weight: 600;
    src: url('../fonts/Glober_Bold/fontfabric_-_globerbold-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Bold/fontfabric_-_globerbold-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Bold/fontfabric_-_globerbold-webfont.woff') format('woff'),
         url('../fonts/Glober_Bold/fontfabric_-_globerbold-webfont.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Glober';
    font-weight: 800;
    src: url('../fonts/Glober_Heavy/fontfabric_-_globerheavy-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Heavy/fontfabric_-_globerheavy-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Heavy/fontfabric_-_globerheavy-webfont.woff') format('woff'),
         url('../fonts/Glober_Heavy/fontfabric_-_globerheavy-webfont.ttf') format('truetype');
    font-display: swap;
}
img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
/* Components */
.card {
    --gap: 2rem;

    position: relative;
    display: grid;

    align-items: normal;
    grid-column-gap: var(--gap);
    -moz-column-gap: var(--gap);
         column-gap: var(--gap);
}
.card + .card {
        margin-top: 3rem;
    }
.card.-person {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        width: 23.4rem;
        height: 31.2rem;
        margin: 0;
        border-radius: .8rem;
        overflow: hidden;
    }
.card__image {
    grid-area: image;
    border-radius: 1rem;
    overflow: hidden;
}
.card__image.-aspect-ratio {
        aspect-ratio: 16 / 9;
    }
.card.-person .card__image {
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        position: relative;
        z-index: 0;
        border-radius: 0;
    }
.card__image img {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        -o-object-fit: cover;
           object-fit: cover;

        transition: transform .3s ease-in-out;
        transform: scale(1);
    }
.card:hover .card__image img {
            transform: scale(1.1);
        }
.card.-person .card__image img {
            max-width: 23.4rem;
            max-height: 31.2rem;
        }
.card__header {
    grid-area: header;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.card__body {
    grid-area: body;
}
.card.-person .card__body {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        z-index: 1;

        align-self: end;
        padding: 1rem;

        background: linear-gradient(to bottom, rgba(42,51,70, 0), rgba(42,51,70, 1));
    }
.card__content.-reset > * {
            margin: 0;
            padding: 0;
            font-size: clamp(1.5rem, 0.08403361344537823vw + 1.476470588235294rem, 1.6rem);
            line-height: 1.82;
            color: var(--color-gray-600);
        }
.card__text {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
}
.card__text.-emphasized {
        font-weight: var(--font-weight-bold);
    }
.card__text.-soft-emphasized {
        font-weight: var(--font-weight-semi-bold);
    }
.card__text.-underemphasized {
        font-size: 1.3rem;
        line-height: 1.5;
        color: var(--color-gray-600);
    }
.card__text.-quote {
        font-weight: var(--font-weight-semi-bold);
        font-size: 1.5rem;
        line-height: 1.4;
        color: var(--color-white);
        text-align: center;
    }
.card__text.-quote::before {
            content: '“';
        }
.card__text.-quote::after {
            content: '”';
        }
.card.-person .card__text {
        color: var(--color-white);
    }
.card__overlay-link {
    all: inherit;
}
.card__overlay-link::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 100%;

        cursor: pointer;
    }
.card__footer {
    grid-area: footer;
    display: flex;
    flex-flow: row wrap;
    gap: .8rem;
}
.card__footer.-actions {
        align-items: flex-end;
    }
.card.-align-stretch .card__footer.-actions {
            display: grid;
        }
.card.-person .card__footer {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        z-index: 1;

        box-sizing: border-box;
        display: grid;
        margin: 0;
        padding: 1.5rem;

        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        align-items: center;
        justify-items: center;
        place-items: center;

        background: linear-gradient(180deg, rgba(42, 51, 70, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%);
        opacity: 0;

        transition: opacity .3s ease;
    }
.card.-person .card__footer:hover,
        .card.-person .card__footer.focus-visible {
            opacity: 1;
        }
.card.-person .card__footer:hover,
        .card.-person .card__footer:focus-visible {
            opacity: 1;
        }
.card__aside {
    grid-area: aside;
    display: grid;
    align-items: start;
    justify-items: end;
    place-items: start end;
}
.card__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.card__links > a:hover,
        .card__links > a.focus-visible {
            color: var(--color-white);
        }
.card__links > a:hover,
        .card__links > a:focus-visible {
            color: var(--color-white);
        }
