body {
    box-sizing: border-box;

    display: grid;
    grid-template:
        "header" auto
        "main" auto
        "footer" 5rem / auto
    ;

    width: 100%;
    min-width: var(--min-width);
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;

    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-gray-800);
    background-color: var(--color-gray-800);
    background-image:
        radial-gradient(farthest-corner at bottom left, rgba(#151923, 1), rgba(#151923, 0)),
        radial-gradient(farthest-side at bottom right, rgba(#004D39, 1), rgba(#151923, 0))
    ;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
