@font-face {
    font-family: 'Glober';
    font-weight: 300;
    src: url('../fonts/Glober_Light/fontfabric_-_globerlight-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Light/fontfabric_-_globerlight-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Light/fontfabric_-_globerlight-webfont.woff') format('woff'),
         url('../fonts/Glober_Light/fontfabric_-_globerlight-webfont.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Glober';
    font-weight: 400;
    src: url('../fonts/Glober_Regular/fontfabric_-_globerregular-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Regular/fontfabric_-_globerregular-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Regular/fontfabric_-_globerregular-webfont.woff') format('woff'),
         url('../fonts/Glober_Regular/fontfabric_-_globerregular-webfont.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Glober';
    font-weight: 500;
    src: url('../fonts/Glober_Semibold/fontfabric_-_globersemibold-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Semibold/fontfabric_-_globersemibold-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Semibold/fontfabric_-_globersemibold-webfont.woff') format('woff'),
         url('../fonts/Glober_Semibold/fontfabric_-_globersemibold-webfont.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Glober';
    font-weight: 600;
    src: url('../fonts/Glober_Bold/fontfabric_-_globerbold-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Bold/fontfabric_-_globerbold-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Bold/fontfabric_-_globerbold-webfont.woff') format('woff'),
         url('../fonts/Glober_Bold/fontfabric_-_globerbold-webfont.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Glober';
    font-weight: 800;
    src: url('../fonts/Glober_Heavy/fontfabric_-_globerheavy-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Heavy/fontfabric_-_globerheavy-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Heavy/fontfabric_-_globerheavy-webfont.woff') format('woff'),
         url('../fonts/Glober_Heavy/fontfabric_-_globerheavy-webfont.ttf') format('truetype');
    font-display: swap;
}
