/* Base */
:root {
    --color-white          : #FFFFFF;
    --color-mercury        : #E6E7E8;
    --color-green-blue     : #00BD8D;
    --color-deep-sea       : #008462;
    --color-shuttle-gray   : #5D6769;
    --color-dark-slate-gray: #2A3346;
    --color-black          : #000000;

    --color-gray-50        : #F2F6F7;
    --color-gray-100       : var(--color-mercury);
    --color-gray-200       : #CCCCCC;
    --color-gray-300       : #B3B3B3;
    --color-gray-400       : #999999;
    --color-gray-500       : #808080;
    --color-gray-600       : var(--color-shuttle-gray);
    --color-gray-700       : #494B50;
    --color-gray-750       : #293245;
    --color-gray-800       : var(--color-dark-slate-gray);
    --color-gray-900       : #151923;

    --rgb-gray-800         : rgb(42,51,70);

    --color-shuttle-gray-500: #656A74;


    --color-red-50         : #FFE6E6;
    --color-red-100        : #FFCCCC;
    --color-red-200        : #FF9999;
    --color-red-300        : #FF2929;
    --color-red-350        : #E3735B;
    --color-red-400        : #D10000;
    --color-red-500        : #AD0000;
    --color-red-600        : #8A0000;
    --color-red-700        : #660000;

    --color-green-50       : #F0FBF8;
    --color-green-100      : #C5F0E4;
    --color-green-200      : #8FE0CA;
    --color-green-300      : #5CD1B2;
    --color-green-400      : var(--color-green-blue);
    --color-green-500      : var(--color-deep-sea);
    --color-green-600      : #00664C;
    --color-green-700      : #004D39;

    --color-denim-50       : #C8DAEA;
    --color-denim-100      : #98B9D5;
    --color-denim-200      : #6D9AC0;
    --color-denim-300      : #497DAB;
    --color-denim-400      : #2A6496;
    --color-denim-500      : #225078;
    --color-denim-600      : #193C5A;
    --color-denim-700      : #11283C;

    --color-periwinkle-50  : #E0E3FD;
    --color-periwinkle-100 : #C1C6FC;
    --color-periwinkle-200 : #ACB1E0;
    --color-periwinkle-300 : #979BC4;
    --color-periwinkle-400 : #8185A8;
    --color-periwinkle-500 : #6B6F8C;
    --color-periwinkle-600 : #565870;
    --color-periwinkle-700 : #404254;

    --color-yellow-50      : #FEFFD9;
    --color-yellow-100     : #FDFF8A;
    --color-yellow-200     : #FAFF04;
    --color-yellow-300     : #E5EA00;
    --color-yellow-400     : #D2D602;
    --color-yellow-500     : #B5B900;
    --color-yellow-600     : #AC9B04;
    --color-yellow-700     : #996E00;

    --font-family-base     : 'Glober', sans-serif;
    --font-family-head     : 'Glober', sans-serif;

    --font-weight-light    : 300;
    --font-weight-regular  : 400;
    --font-weight-semibold : 500;
    --font-weight-semi-bold: var(--font-weight-semibold);
    --font-weight-bold     : 600;
    --font-weight-heavy    : 800;

    --min-w: 28;
    --max-w: 130;

    --min-width: 28rem;
    --base-padding: 5rem;
}
html {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Glober', sans-serif;
    font-family: var(--font-family-base, 'sans-serif');
    min-width: 280px;
    overflow-x: hidden;

    touch-action: manipulation;
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;

    display: grid;
    grid-template:
        "header" 0fr
        "main" auto
        "footer" 5rem / auto
    ;

    align-items: start;

    width: 100%;
    min-width: 28rem;
    min-width: var(--min-width);
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;

    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.5;
    color: #2A3346;
    color: var(--color-gray-800);
    background-color: #2A3346;
    background-color: var(--color-gray-800);
    background-image:
        radial-gradient(farthest-corner at bottom left, rgba(21,25,35, 1), rgba(21,25,35, 0)),
        radial-gradient(farthest-side at bottom right, rgba(0,77,57, 1), rgba(21,25,35, 0));

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nojs {
    display: block;
    width: min(100%, 56rem);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.nojs__checkbox {
    display: none;
}
.nojs__container {
    padding: 1rem;
}
.nojs__checkbox:checked + .nojs__container {
    display: none;
}
.nojs__close {
    cursor: pointer;
    color: #00BD8D;
    color: var(--color-green-400);
}
.nojs__close:hover,
.nojs__close.focus-visible {
    color: #008462;
    color: var(--color-green-500);
}
.nojs__close:hover,
.nojs__close.focus-visible {
    color: #008462;
    color: var(--color-green-500);
}
.nojs__close:hover,
.nojs__close:focus-visible {
    color: #008462;
    color: var(--color-green-500);
}
.nojs__close:active {
    color: #00664C;
    color: var(--color-green-600);
}
@font-face {
    font-family: 'Glober';
    font-weight: 300;
    src: url('../fonts/Glober_Light/fontfabric_-_globerlight-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Light/fontfabric_-_globerlight-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Light/fontfabric_-_globerlight-webfont.woff') format('woff'),
         url('../fonts/Glober_Light/fontfabric_-_globerlight-webfont.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Glober';
    font-weight: 400;
    src: url('../fonts/Glober_Regular/fontfabric_-_globerregular-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Regular/fontfabric_-_globerregular-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Regular/fontfabric_-_globerregular-webfont.woff') format('woff'),
         url('../fonts/Glober_Regular/fontfabric_-_globerregular-webfont.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Glober';
    font-weight: 500;
    src: url('../fonts/Glober_Semibold/fontfabric_-_globersemibold-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Semibold/fontfabric_-_globersemibold-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Semibold/fontfabric_-_globersemibold-webfont.woff') format('woff'),
         url('../fonts/Glober_Semibold/fontfabric_-_globersemibold-webfont.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Glober';
    font-weight: 600;
    src: url('../fonts/Glober_Bold/fontfabric_-_globerbold-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Bold/fontfabric_-_globerbold-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Bold/fontfabric_-_globerbold-webfont.woff') format('woff'),
         url('../fonts/Glober_Bold/fontfabric_-_globerbold-webfont.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Glober';
    font-weight: 800;
    src: url('../fonts/Glober_Heavy/fontfabric_-_globerheavy-webfont.eot') format('embedded-opentype'),
         url('../fonts/Glober_Heavy/fontfabric_-_globerheavy-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Heavy/fontfabric_-_globerheavy-webfont.woff') format('woff'),
         url('../fonts/Glober_Heavy/fontfabric_-_globerheavy-webfont.ttf') format('truetype');
    font-display: swap;
}
img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
/* Components */
.header {
    grid-area: header;

    box-sizing: border-box;

    display: block;
    width: 100%;
    padding: 5rem;
    text-align: center;
}
.main {
    display: grid;
    grid-gap: 3rem;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(16.7rem, 1fr));
    margin-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0, 0.9);

    overflow-y: auto;
    overflow-y: overlay;
}
.business-card {
    display: grid;
    grid-template:
        "header"
        "image"
        "body"
        "footer"
    ;

    width: min(100%, 53.9rem);
    height: min(auto, 85.6rem);

    background-color: #fff;
    background: #fff url(public/images/blob.png) right top no-repeat;
    border-radius: 5rem;
}
.business-card__header {
    grid-area: header;
    display: flex;
    padding: 3rem 2rem 5rem;
}
.business-card__header > svg {
        margin-left: auto;
        margin-right: auto;
    }
.business-card__image {
    grid-area: image;

    width: min(50vw, 30rem);
    height: min(50vw, 30rem);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;

    border-radius: 50%;
    overflow: hidden;
}
.business-card__image img {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        -o-object-fit: cover;
           object-fit: cover;
    }
.business-card__body {
    grid-area: body;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.business-card__text {
    font-family: 'Glober', sans-serif;
    font-family: var(--font-family-base);
    font-weight: 600;
    font-weight: var(--font-weight-bold);
    font-size: 1.6rem;
    line-height: 1.4;
    color: #000000;
    color: var(--color-black);
}
.business-card__text.-emphasized {
        font-size: 4rem;
        font-weight: 800;
        font-weight: var(--font-weight-heavy);
        color: #293245;
        color: var(--color-gray-750);
    }
.business-card__text.-soft-emphasized {
        font-size: 2.4rem;
        font-weight: 600;
        font-weight: var(--font-weight-bold);
        color: #494B50;
        color: var(--color-gray-700);

        margin-bottom: 3rem;
    }
.business-card__text.-with-icon {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
.business-card__footer {
    grid-area: footer;

    position: relative;
    box-sizing: border-box;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    min-height: 18rem;
    padding: 3rem;
    color: #FFFFFF;
    color: var(--color-white);
}
.business-card__footer > * {
        position: relative;
        z-index: 1;

        display: block;
    }
.business-card__footer::before {
        content: '';
        position: absolute;
        bottom: -.1rem;
        left: 0;
        z-index: 0;

        display: block;
        width: 100%;
        height: 100%;

        background: #FFFFFF url(../public/images/wave.svg) center bottom no-repeat;

        background: var(--color-white) url(../public/images/wave.svg) center bottom no-repeat;
        background-size: 88.75rem 18.7rem;
        border-bottom-left-radius: 4.5rem; /* less then 50px to avoid sub-pixel rendering background bleed */
        border-bottom-right-radius: 4.5rem; /* less then 50px to avoid sub-pixel rendering background bleed */
    }
.footer {
    display: block;
    text-align: center;
    color: #999999;
    color: var(--color-gray-400);
}
.card {
    --gap: 2rem;

    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: var(--gap);
    -moz-column-gap: var(--gap);
         column-gap: var(--gap);
    align-items: normal;

    width: min(100%, 26.9rem);
    height: min(100vh, 31.2rem);
    margin: 0;
    border-radius: .8rem;
    overflow: hidden;
    box-shadow:
        0px 170px 80px rgba(0, 0, 0, 0.09),
        0px 78.5962px 36.9864px rgba(0, 0, 0, 0.0667508),
        0px 44.9709px 21.1628px rgba(0, 0, 0, 0.0564103),
        0px 27.297px 12.8457px rgba(0, 0, 0, 0.0485953),
        0px 16.4477px 7.74008px rgba(0, 0, 0, 0.0414047),
        0px 9.15912px 4.31018px rgba(0, 0, 0, 0.0335897),
        0px 3.93928px 1.85378px rgba(0, 0, 0, 0.0232492)
    ;

}
.card__image {
    grid-area: image;
    border-radius: 1rem;
    overflow: hidden;

    grid-column: 1 / -1;
    grid-row: 1 / -1;

    position: relative;
    z-index: 0;
    border-radius: 0;
}
.card__image img {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        -o-object-fit: cover;
           object-fit: cover;

        transition: transform .3s ease-in-out;
        transform: scale(1);

        max-width: 26.9rem;
        max-height: 31.2rem;
    }
.card:hover .card__image img {
            transform: scale(1.1);
        }
.card__header {
    grid-area: header;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.card__body {
    grid-area: body;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;

    align-self: end;
    padding: 1rem;

    background: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, 1));
}
.card__text {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    color: #FFFFFF;
    color: var(--color-white);
}
.card__text.-emphasized {
        font-weight: 600;
        font-weight: var(--font-weight-bold);
    }
.card__text.-soft-emphasized {
        font-weight: 500;
        font-weight: var(--font-weight-semi-bold);
    }
.card__text.-underemphasized {
        font-size: 1.3rem;
        line-height: 1.5;
        color: #5D6769;
        color: var(--color-gray-600);
    }
.card__overlay-link {
    all: inherit;
}
.card__overlay-link::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 100%;

        cursor: pointer;
    }
.social {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.social a {
        line-height: 1;
    }
.social a,
    .social path {
        color: #FFFFFF;
        color: var(--color-white);
        fill: currentColor;
        margin: 0;
    }
